/* src/index.css */
:root {
    --primary-color: #07d4f3; /* Cyber Teal */
    --background-color: #12121c;
    --card-background: #1a1a2e;
    --text-color: #e0e0e0;
    --heading-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden; /* Prevents horizontal scroll */
}

h1, h2, h3 {
    color: var(--heading-color);
}

section {
  padding: 100px 8%;
  min-height: 80vh;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}